---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import { wixClient } from "../lib/wix.js";
import { media } from "@wix/sdk";
import ServiceCard from "../components/ServiceCard.astro";

const results = await wixClient.items
  .query("ServiceCards")
  .ascending("order")
  .find();

const serviceCards = results.items.map((card) => ({
  title: card.title_fld,
  description: card.description_fld,
  slug: card.slug,
  ctaLabel: card.ctaLabel,
  imageUrl: card.image_fld ? media.getImageUrl(card.image_fld).url : null,
  icon: card.icon,
}));
---

<BaseLayout>
  <Hero />
  <section class="p-6">
    <h1 class="text-3xl font-bold">Wix Test</h1>
    <p class="mt-2">Cards found: {serviceCards.length}</p>

    <div class="mt-6 space-y-6">
      {
        serviceCards.map((card) => (
          <ServiceCard
            title={card.title}
            description={card.description}
            slug={card.slug}
            ctaLabel={card.ctaLabel}
            imageUrl={card.imageUrl}
            icon={card.icon}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
